dask==1.2.2
ipython==7.4.0
jupyterlab==0.35.3
keras==2.2.4
matplotlib==3.0.2
mlfinlab==0.1.0
numpy==1.16.1
pandas==0.23.4
patsy==0.5.1
pyfolio==0.9.0
scikit-image==0.14.1
scikit-learn==0.20.3
scipy==1.2.1
seaborn==0.9.0
statsmodels==0.9.0
tensorflow==1.15.2
tqdm==4.31.1
xmlrunner==1.7.7
